body {
	overflow: hidden;
	margin: 0;
	background-image: url(sandstone256.png);
	text-align: center;
	color: #222;
	font-family: georgia, serif;
	font-size: 120%;
	font-weight: bold;
	text-shadow: 0px 1px 3px #aaa;
}

a {
	color: #333;
}

h1, h2 {
	color: #35f;
}

#content {
	padding: 10px 0px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0px 0px 30px 30px;
}

body #content {
	width: 80%;
	margin: auto;
}

body #content p a {
	display: inline-block;
	text-decoration: none;
	width: 200px;
	border-radius: 20px;
	background-color: rgba(100, 100, 100, 0.4);
	border: 5px solid rgba(51, 85, 255, 0.4);
	color: #000;
	padding: 10px;
	margin: 10px;
}

body #content p a:hover {
	border: 5px solid #35f;
}

body #content div {
	width: 40%;
	margin: 0 5%;
	float: left;
	text-align: left;
}

body #content div:first-child {
	margin-right: 10%;
}

 #content div:last-child {
	margin-left: 10%;
}

body #content li {
	margin: 1em 0em;
}
